.imagem-estourada {
    clear: both;
    display: block;
    margin-left: -79% !important;
    margin-right: auto !important;
    overflow: hidden !important;
    max-width: 250%;
}

.fora-da-margem-esquerda{
	margin: 15px 15px 15px -10%;
}


.fora-da-margem-direita{
	margin: 15px -10% 15px 15px;
}

.content-wrapper-artista{
	overflow:hidden;
}

.alignleft{
	    margin: 0 15px 7px inherit;
	    font-family: 'proxima nova', sans-serif !important;
	    font-style: italic; 

	    .wp-caption-text{
	    	margin-bottom: 2px !important;;
	    }
}

.wp-caption {
    margin-bottom: 0;
}

.content-artista a {
    &, &:hover {
        text-decoration: none;
    }
}

.content-artista-artesvisuais a {
    &, * {
        color: $azul-artesvisuais;
    }
}
.content-artista-audiovisual a  {
    &, * {
        color: $laranja-audiovisual;
    }
}
.content-artista-danca a        {
    &, * {
        color: $verde-danca;
    }
}
.content-artista-literatura a   {
    &, * {
        color: $rosa-literatura;
    }
}
.content-artista-moda a         {
    &, * {
        color: $roxo-sociedade;
    }
}
.content-artista-musica a       {
    &, * {
        color: $laranja-malunguices;
    }
}
.content-artista-teatro a       {
    &, * {
        color: $azul-teatro;
    }
}
.content-artista-indicacao a    {
   &, * {
    
    color: $cinza-indicacao;
    }
}
