$cor-fundo: #303331;
$cor-texto: #F7EFE7;
$cor-fundo-pais: #F7EFE7;
$cor-texto-pais: #303331;

$tamanho-borda-categoria: 1px;

%grid {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 4 * ($tamanho-categoria + $tamanho-borda-categoria);
    padding-bottom: 5vh; // pra respirar em relação ao fundo
     & > * {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        border-size: 0;
        box-sizing: border-box;
    }
}
%box{
    align-items: center;
    border: $tamanho-borda-categoria solid white;
    height: $tamanho-categoria;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    //gambi FTW pra não ter bordas duplicadas
    margin-left: -$tamanho-borda-categoria;
    margin-bottom: -$tamanho-borda-categoria;
    width: auto;
    *{
        margin: 0;
        padding: 0; 
    }

    svg{
        box-sizing: border-box;
        height: 0.6 * $tamanho-categoria;
        padding-bottom: 10px;
    }
    
    p{
        @include lines-up-down();
        color: $cor-texto;
        font-family: "proxima-nova",sans-serif;
        font-size: 0.9em;
        letter-spacing: 2.5px;
        line-height: 1.1em;
        max-width: 80%;
        text-align: center;
        text-transform: uppercase;
        padding-top: .5em;
        padding-bottom: .5em;
        width: 80%;
    }
}

.artista{
    .page {
	   background-color: $cor-fundo;
    }
}


.paises-lista{
    background: $preto-malungo;
    box-sizing: border-box;
    padding-top:5%;
    h1 > img {
        height: 3em;
    }

	h1,p{
		color: $cor-texto;
		text-align: center;
	}

    ul li:first-child{
        margin-left: 0;
    }
    a:hover{ text-decoration: none; }
    .link-pais{
        @include link-hover($cinza-indicacao, $branco-malungo);
        img{
            height: 60%;
            padding-bottom: .5em;
            width: auto;
        }
    }

    .grid-paises {
    	@extend %grid;
    }

    .box-pais {
        @extend %box;
	}
}


.box-artista-descricao{
	font-size:9px;
}

.artistas-categorias{
    background: $cor-fundo;
	padding-top:5%;

	h1,p{
		color: $cor-texto;
		text-align: center;
	}
    h1 > img {
        height: 3em;
    }

	@include apply-link-hover();

    .categoria-grid {
        @extend %grid;
    }

    .box-categoria{
        @extend %box;
    }
}

.artistas{
    background: $cor-fundo;
    box-sizing: border-box;
    color: $cor-texto;
    h1{
        padding-top: 60px;
        margin: 0;
        img {
            height: 20vh;
        }
    }
	h1,p{
		color: $cor-texto;
		text-align: center;
	}
}
ul.menu-categorias {
    @include lines-up-down($branco-malungo);
    a { color: $branco-malungo; }
    padding: 0;
    margin-bottom: 1.5em;
    margin-left: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        //gambiarra start (http://stackoverflow.com/questions/18485378/vertically-centering-text-within-an-inline-block)
        &:before{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        span{
            display: inline-block;
            vertical-align: middle;
        }
        //gambiarra end
    }
    a,a:hover {
        text-decoration: none;
        @include transition(all ease 400ms);
    }
    @include bg-slide-categories();
}



/*
 * -- SPLASH ARTISTA
 * This is the blue top section that appears on the page.
 */

.splash-container-artista {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    background-size: cover;
    background-position: center center;
    min-height: 200px !important;
}

.splash-container-artista-opacity{
	background-color: $cor-fundo;
    z-index: 0;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    opacity: 0.5;
}


.overlay{
	background-color:$cor-fundo;
}

.splash-artista {
    /* absolute center .splash within .splash-container */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 15%; left: 0; bottom: 0; right:20;
    width: 100%;

    svg{
        height: 20%;
    }

    .title-artista-artesvisuais { color: $azul-artesvisuais; }
    .title-artista-artesvisuais { color:$azul-artesvisuais; }
    .title-artista-audiovisual  { color:$laranja-audiovisual; }
    .title-artista-danca        { color:$verde-danca; }
    .title-artista-literatura   { color:$rosa-literatura; }
    .title-artista-moda         { color:$roxo-sociedade; }
    .title-artista-musica       { color:$laranja-malunguices; }
    .title-artista-teatro       { color:$azul-teatro; }

    .splash-subhead-artista-categoria {
        @include lines-up-down($branco-malungo);
        color: $branco-malungo;
        margin: 0 auto;
        width: auto;
    }

    .arrow-down {
        svg {
            fill: $branco-malungo;
        }
    }
  
    .data_publicacao{
        margin-top: 20px;
        font-size: 9px;
    }    

}




/* This is the main heading that appears on the blue section */
.splash-head-artista {
    font-size: 7vw;
    font-family: "proxima-nova",sans-serif;
    font-weight: lighter;
    color: white;
    margin-top: 5px;
   
   /*  border: 3px solid white; */
    
    
    line-height: 1em;
    text-align: center;
}

/* This is the subheading that appears on the blue section */
.splash-subhead-artista {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.splash-subhead-artista-categoria{
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.splash-artista img{

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper-artista {
    /* These styles are required for the "scroll-over" effect */
    background-color: $cor-fundo;
    font-size: 20px;
    min-height: 12%;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;

}

/* This is the class used for the main content headers (<h2>) */
.content-head-artista {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}


.descricao-artistas{
	color:$cor-texto;
    text-align: left!important;
}




/*
 * -- SPLASH PAIS
 * This is the blue top section that appears on the page.
 */

.splash-container-pais {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    
    background-size: cover;
}

.splash-container-pais-opacity{
	background-color: $cor-fundo;
    z-index: 0;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    opacity: 0.5;
}


.splash-pais {
    /* absolute center .splash within .splash-container */
    margin: auto;
    position: absolute;
    top: 15%; left: 0; bottom: 0; right:20;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    
    .tag-vocabulos{
        display: inline;
        text-align: center;
        padding: 5px 10px;
        background-color: blue;
        color: white;
        font-weight: bold;
        
    }


}

/* This is the main heading that appears on the blue section */
.splash-head-pais {
   font-size: 6vw;
    font-family: "proxima-nova",sans-serif;
    font-weight: lighter;
    color: white;
   /*  border: 3px solid white; */
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 15px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead-pais {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
}

.splash-pais img{

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper-pais {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 50%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background-color: $cor-fundo;

    .img-mapa-full{
        margin-bottom: 20px;
    }

}

/* This is the class used for the main content headers (<h2>) */
.content-head-pais {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}


.descricao-pais{
	color: $cor-texto;

    .bandeira{
        width: 90px;
    }
}

.conteudo-pais{
    color: $cor-texto;    
}
