$cor-fundo: #303331;
$cor-texto: #F7EFE7;
$cor-fundo-pais: #F7EFE7;
$cor-texto-pais: #303331;

.artista{
    .page {
	   background-color: $cor-fundo;
    }
}


.paises-lista{
	padding-top:5%;


	h1,p{
		color: $cor-texto;
		text-align: center;
	}

    ul li:first-child{
        margin-left: 0;
    }

	.box-pais{
    	border: 1px solid #303331;
    	height: 180px;
    	width: 180px;
        float: left;
        margin-left: 3%;
        margin-top: 40px;




    		img{
    			/* margin-top: -10px; */
    		}
    		
    		p{
    			text-align: center;
    			color: $cor-texto;
    			margin-top: -22px;
    			font-family: "proxima-nova",sans-serif;
    			letter-spacing: 2.5px;
    		}
	}


}


.box-artista-descricao{
	font-size:9px;
}

.artistas-categorias{
    background: $cor-fundo;
	padding-top:5%;

	h1,p{
		color: $cor-texto;
		text-align: center;
	}
    h1 > img {
        height: 3em;
    }

    @mixin link-hover($color-link: $cor-texto){
        $hover-color: $branco-malungo;
        &:hover, &:hover * {
            background: $hover-color;
            color: $color-link;
            color: $color-link;
            cursor: pointer;
        }
        &:hover *:not(.box-categoria) {
            border-color: $color-link;
        }
        svg, svg * {
            fill: $color-link;
        }
        text-decoration: none;
    }

	.link-artesvisuais { @include link-hover($azul-artesvisuais); }
    .link-audiovisual  { @include link-hover($laranja-audiovisual); }
    .link-danca        { @include link-hover($verde-danca); }
    .link-literatura   { @include link-hover($rosa-literatura); }
    .link-moda         { @include link-hover($roxo-sociedade); }
    .link-musica       { @include link-hover($laranja-malunguices); }
    .link-teatro       { @include link-hover($azul-teatro); }
	.link-indicacao    { @include link-hover($cinza-indicacao); }

    $tamanho-categoria: 220px;
    $tamanho-borda-categoria: 1px;
    .categoria-grid {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 4 * ($tamanho-categoria + $tamanho-borda-categoria);
        padding-bottom: 5vh; // pra respirar em relação ao fundo
         & > * {
            display: inline-block;
            margin: 0;
            vertical-align: top;
            border-size: 0;
            box-sizing: border-box;
        }
    }

	.box-categoria{
        align-items: center;
        border: $tamanho-borda-categoria solid white;
    	height: $tamanho-categoria;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        //gambi FTW pra não ter bordas duplicadas
        margin-left: -$tamanho-borda-categoria;
        margin-bottom: -$tamanho-borda-categoria;
    	width: $tamanho-categoria;
        *{
            margin: 0;
            padding: 0; 
        }

		svg{
            box-sizing: border-box;
            height: 0.6 * $tamanho-categoria;
            padding-bottom: 10px;
		}
		
		p{
            @include lines-up-down();
            color: $cor-texto;
			font-family: "proxima-nova",sans-serif;
            font-size: 0.9em;
			letter-spacing: 2.5px;
            line-height: 1.1em;
            max-width: 80%;
            text-align: center;
            text-transform: uppercase;
            padding-top: .5em;
            padding-bottom: .5em;
            width: 80%;
		}
	}
}

.artistas{

	padding-top:5%;

	h1,p{
		color: $cor-texto;
		text-align: center;
	}
}



/*
 * -- SPLASH ARTISTA
 * This is the blue top section that appears on the page.
 */

.splash-container-artista {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    background-size: cover;
    background-position: center center;
    min-height: 200px !important;
}

.splash-container-artista-opacity{
	background-color: $cor-fundo;
    z-index: 0;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    opacity: 0.5;
}


.overlay{
	background-color:$cor-fundo;
}

.splash-artista {
    /* absolute center .splash within .splash-container */
    margin: auto;
    position: absolute;
    top: 15%; left: 0; bottom: 0; right:20;
    text-align: center;

    width: 100%;
  
    .data_publicacao{
        margin-top: 20px;
        font-size: 9px;
    }    

}




/* This is the main heading that appears on the blue section */
.splash-head-artista {
    font-size: 7vw;
    font-family: "proxima-nova",sans-serif;
    font-weight: lighter;
    color: white;
    margin-top: 5px;
   
   /*  border: 3px solid white; */
    
    
    line-height: 1em;
    text-align: center;
}

/* This is the subheading that appears on the blue section */
.splash-subhead-artista {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.splash-subhead-artista-categoria{
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.splash-artista img{

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper-artista {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background-color: $cor-fundo;

}

/* This is the class used for the main content headers (<h2>) */
.content-head-artista {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}


.descricao-artistas{
	color:$cor-texto;
}




/*
 * -- SPLASH PAIS
 * This is the blue top section that appears on the page.
 */

.splash-container-pais {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    
    background-size: cover;
}

.splash-container-pais-opacity{
	background-color: $cor-fundo;
    z-index: 0;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100vh;  
    top: 0;
    left: 0;
    position: fixed !important;
    opacity: 0.5;
}


.splash-pais {
    /* absolute center .splash within .splash-container */
    margin: auto;
    position: absolute;
    top: 15%; left: 0; bottom: 0; right:20;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    
    .tag-vocabulos{
        display: inline;
        text-align: center;
        padding: 5px 10px;
        background-color: blue;
        color: white;
        font-weight: bold;
        
    }


}

/* This is the main heading that appears on the blue section */
.splash-head-pais {
   font-size: 6vw;
    font-family: "proxima-nova",sans-serif;
    font-weight: lighter;
    color: white;
   /*  border: 3px solid white; */
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 15px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead-pais {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
}

.splash-pais img{

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper-pais {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 50%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background-color: $cor-fundo;

    .img-mapa-full{
        margin-bottom: 20px;
    }

}

/* This is the class used for the main content headers (<h2>) */
.content-head-pais {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}


.descricao-pais{
	color: $cor-texto;

    .bandeira{
        width: 90px;
    }
}

.conteudo-pais{
    color: $cor-texto;    
}
