.imagem-estourada {
    clear: both;
    display: block;
    margin-left: -79% !important;
    margin-right: auto !important;
    overflow: hidden !important;
    max-width: 250%;
}

.fora-da-margem-esquerda{
	margin: 15px 15px 15px -10%;
}


.fora-da-margem-direita{
	margin: 15px -10% 15px 15px;
}

.content-wrapper-artista{
	overflow:hidden;
}

.alignleft{
	    margin: 0 15px 7px inherit;
	    font-family: 'proxima nova', sans-serif !important;
	    font-style: italic; 

	    .wp-caption-text{
	    	margin-bottom: 2px !important;;
	    }
}

.wp-caption {
    margin-bottom: 0;
}

.content-artista a {
    &, &:hover {
        text-decoration: none;
    }
}

.content-artista-artesvisuais a {
    &, * {
        color: $azul-artesvisuais;
    }
}
.content-artista-audiovisual a  {
    &, * {
        color: $laranja-audiovisual;
    }
}
.content-artista-danca a        {
    &, * {
        color: $verde-danca;
    }
}
.content-artista-literatura a   {
    &, * {
        color: $rosa-literatura;
    }
}
.content-artista-moda a         {
    &, * {
        color: $roxo-sociedade;
    }
}
.content-artista-musica a       {
    &, * {
        color: $laranja-malunguices;
    }
}
.content-artista-teatro a       {
    &, * {
        color: $azul-teatro;
    }
}
.content-artista-indicacao a    {
   &, * {
    
    color: $cinza-indicacao;
    }
}

.explore-mais{
    @include lines-up-down($branco-malungo);
    color: $branco-malungo;
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
}

ul.social{
    border-bottom: 1px solid $branco-malungo;
    margin-bottom: 1em!important;
    padding-bottom: 1em;
    li{
        padding-right: .5em;
        display: inline-block;
    }
    svg {
        height: 2em;
    }
    a:hover{
        cursor: pointer;
    }
    .link-artesvisuais:hover {
        svg *{
            fill: $azul-artesvisuais;
        }
    }
    .link-audiovisual:hover {
        svg *{
            fill: $laranja-audiovisual;
        }
    }
    .link-danca:hover {
        svg *{
            fill: $verde-danca;
        }
    }
    .link-literatura:hover {
        svg *{
            fill: $rosa-literatura;
        }
    }
    .link-moda:hover {
        svg *{
            fill: $roxo-sociedade;
        }
    }
    .link-musica:hover {
        svg *{
            fill: $laranja-malunguices;
        }
    }
    .link-teatro:hover {
        svg *{
            fill: $azul-teatro;
        }
    }
    .link-indicacao:hover {
        svg *{
            fill: $cinza-indicacao;
        }
    }
}

.splash-artista-artesvisuais {
    svg:not(.svg-arrow) *{
        fill: $azul-artesvisuais;
    }
}
.splash-artista-audiovisual {
    svg:not(.svg-arrow) *{
        fill: $laranja-audiovisual;
    }
}
.splash-artista-danca {
    svg:not(.svg-arrow) *{
        fill: $verde-danca;
    }
}
.splash-artista-literatura {
    svg:not(.svg-arrow) *{
        fill: $rosa-literatura;
    }
}
.splash-artista-moda {
    svg:not(.svg-arrow) *{
        fill: $roxo-sociedade;
    }
}
.splash-artista-musica {
    svg:not(.svg-arrow) *{
        fill: $laranja-malunguices;
    }
}
.splash-artista-teatro {
    svg:not(.svg-arrow) *{
        fill: $azul-teatro;
    }
}
.splash-artista-indicacao {
    svg:not(.svg-arrow) *{
        fill: $cinza-indicacao;
    }
}

.fotorama__pointer{
    border-bottom: 1px solid $branco-malungo;
}
