//Variables for change animation and colors of background, menu overlay, text and icons

$transition-type: ease;
$overlay-color: black;
$texts-and-icons: #fff;
$linhas-close: black;
$cor-linha-fundobraco: #303331;




// SET BASIC CONTENT - HTML AND BODY 

/* html, body {
	overflow: hidden;
	line-height: 1.5;
	font-family: 'Montserrat', 'Arial', sans-serif;
	color: $texts-and-icons;
	text-align: center;
} */

#mobile-menu-1 {
   display: none;
}

.main-navigation{
	margin-top:20%	;
}

.full-menu, .content {
	width: 100%;
	height: 100%;
}

.full-menu, .content {
	display: flex;
	align-items: center;
	justify-content: center;
}

$effect-opacity: 0.5;

@include keyframes(alternate-bg-color) {
	0%		{background:rgba($azul-atividade, $effect-opacity);}
	33%		{background:rgba($roxo-sociedade, $effect-opacity);}
	66%	{background:rgba($laranja-malunguices, $effect-opacity);}
	100%		{background:rgba($azul-atividade, $effect-opacity);}
}

%bg-alternate-colors {
	@include animation(alternate-bg-color 12s infinite);
}


// SET BASIC CONTENT AND ANIMATION EFFECT- MENU OVERLAY

.full-menu {
	height:  100%;
	position: fixed;
	opacity: 0;
	top: 100%;
	transition: all 400ms $transition-type;
	width:  100%;
	z-index: 3;

	.img-full{
		@extend %bg-alternate-colors;
		background-color:rgba($azul-atividade, $effect-opacity);
		background-image: url('./img/menu_01.jpg');
 		height:  100%;
		left: 0;
		overflow: hidden;
		position: absolute;
  		top: 0;
		transition: all 400ms $transition-type;
 		width: 100%;
	}

	ul { list-style: none;}

	&.active {
		transform: translateX(0%);
		transition: all 400ms $transition-type;
		top:0;
		opacity: 1;
		z-index: 3;

		li {
			opacity: 1;
			transform: translateX(0%);
			text-align: center;
		}
	}

	.main-navigation{
		z-index: 5;

		span :hover{
			text-decoration: none;
		}

		ul{
			li{
				.sub-menu{
					font-size: 25px !important;
				}
			}
			ul{
				box-shadow:none;
				float: none;

				a{
					width: 100%;
					margin: 0 auto;
				}


			}
		}
	}

	/* TEXT */

	
	    header  ul li span,
	    header span {
	        
	        display: block;
	    }
	    header  p,
	    header ul li a span {
	        font-family: "Proxima Nova", sans-serif;
	        text-transform: uppercase;
	        font-weight: bold;

	    }
	    
	    header {
	        padding-top: 12px;
	    }
	    
	    
	    .sub-menu li {
	        display: block;
	        visibility: visible;
	    }
   
	    
	    header ul li {
	        text-align: center;
	        
	        
	    }
	    header ul li a {
	        font-family: "Proxima Nova", sans-serif;
	        color: #53417b;
	        font-size: 25.02px;
	        font-weight: 300;
	        text-align: center;
	        white-space: nowrap;

	         &:hover {
				text-decoration: none;
			}
	    }
	    header ul li a span {
	        color: #303331;
	        font-size: 10.01px;
	        
	        display: block;

	        &:hover {
				text-decoration: none;
			}


	    }
	    .sub-menu li {
	        display: block;
	    }
	    
	    .sub-menu li a {
	        color: #53417b;
	        font-size: 15px;
	        
	        text-align: center;
	    }

	    header ul ul{
	    	left:0;
	    	position:inherit;
	    }

	    .main-navigation .sub-menu li {
 		   	float: none;
    		position: static;
		}
	    
	    
	    
	

	/* TEXT */

}

// SET BASIC CONTENT AND ANIMATION EFFECT- HAMBURGUER MENU

.hamburguer {
	position: absolute;
	width: 2em;
	margin: 8px; 
	z-index: 4;
	cursor: pointer;

	&:hover {
		animation: zoom 300ms $transition-type;
	}
}

.lines {
	background-color: $texts-and-icons;
	width: 100%;
	height: 2px;
	margin: 8px 0;
	transition: all 450ms $transition-type;
}

.lines-fb {
	background-color: $cor-linha-fundobraco;
	width: 100%;
	height: 2px;
	margin: 8px 0;
	transition: all 450ms $transition-type;
}


// SET ANIMATION EFFECT - HAMBURGUER MENU CLOSED

.close-hamburguer {
	.lines { 
		cursor: pointer;
		background-color: $linhas-close !important;
	}

	.line-top { transform: translateY(6px) rotate(45deg);}

	.line-mid { opacity: 0;}

	.line-bottom { transform: translateY(-14px) rotate(135deg);}
}