//Variables for change animation and colors of background, menu overlay, text and icons

$transition-type: ease;
$overlay-color: black;
$texts-and-icons: $branco-malungo;
$linhas-close: $branco-malungo;
$cor-linha-fundobraco: $branco-malungo;




// SET BASIC CONTENT - HTML AND BODY 

#mobile-menu-1 {
   display: none;
}

.main-navigation{
	margin-top:20%	;
}

.full-menu, .content {
	width: 100%;
	height: 100%;
}

.full-menu, .content {
	display: flex;
	align-items: center;
	justify-content: center;
}

@include keyframes(alternate-bg-color) {
	0%		{
		background:url('./img/menu-img01.jpg');
		background-size: cover;
	}
	33%		{
		background:url('./img/menu-img02.jpg');
		background-size: cover;
	}
	66%		{
		background:url('./img/menu-img03.jpg');
		background-size: cover;
	}
	100%	{
		background:url('./img/menu-img01.jpg');
		background-size: cover;
	}
}

%bg-alternate-colors {
	@include animation(alternate-bg-color 12s infinite);
}


// SET BASIC CONTENT AND ANIMATION EFFECT- MENU OVERLAY

.full-menu {
	height:  100%;
	position: fixed;
	opacity: 0;
	top: 100%;
	transition: all 400ms $transition-type;
	width:  100%;
	z-index: 3;

	.img-full{
		@extend %bg-alternate-colors;
 		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
  		top: 0;
		transition: all 400ms $transition-type;
 		width: 100%;
	}

	ul { list-style: none;}

	&.active {
		transform: translateX(0%);
		transition: all 400ms $transition-type;
		top:0;
		opacity: 1;
		z-index: 3;

		li {
			opacity: 1;
			transform: translateX(0%);
			text-align: center;
		}
	}

	.main-navigation{
		z-index: 5;
	}
}

// SET BASIC CONTENT AND ANIMATION EFFECT- HAMBURGUER MENU

.hamburguer {
	position: absolute;
	width: 2em;
	margin: 8px; 
	z-index: 4;
	cursor: pointer;

	&:hover {
		animation: zoom 300ms $transition-type;
	}
}

.lines {
	background-color: $texts-and-icons;
	width: 100%;
	height: 2px;
	margin: 8px 0;
	transition: all 450ms $transition-type;
}

.lines-fb {
	background-color: $cor-linha-fundobraco;
	width: 100%;
	height: 2px;
	margin: 8px 0;
	transition: all 450ms $transition-type;
}


// SET ANIMATION EFFECT - HAMBURGUER MENU CLOSED

.close-hamburguer {
	.lines { 
		cursor: pointer;
		background-color: $linhas-close !important;
	}

	.line-top { transform: translateY(6px) rotate(45deg);}

	.line-mid { opacity: 0;}

	.line-bottom { transform: translateY(-14px) rotate(135deg);}
}