.header{
	.logo-malungo{
		img{		
			display: block;
			margin: 0 auto;
			opacity: 0;
			transition: opacity 400ms ease;
			width: 160px;
		}
		img.active{
			opacity: 1;
			transition: opacity 400ms ease;
		}
	}
	.pure-menu-list{
		position: absolute;
		right: 0px;
		top:2px;
	}
}
