$margin-image-yaon: 30%;
.img-logo-grande{
	padding-left: $margin-image-yaon;
	padding-right: $margin-image-yaon;
	opacity: 0;
	@include transition(all ease 800ms);
}

.img-yaon.active,
.img-logo-grande.active,
.img-cultura.active {
	@include transition(all ease 800ms);
	opacity: 1;
}

.img-yaon {
	@include transition(all ease 800ms);
	left: 0;
	right: 0;
	top: 0;
	padding-left: $margin-image-yaon;
	padding-right: $margin-image-yaon;
	position: absolute;
	opacity: 0;
	z-index: 3;
}

.img-cultura{
	@include transition(all ease 800ms);
	opacity: 0;
	width:500px;
}

.header-center{
	text-align: center;
}

.header-home{
	@include lines-up-down($preto-malungo, 3px);
	display: inline-block;
	font-weight: lighter;
	text-align:center;
	margin: 60px 0;
	padding-top: .2em;
	padding-bottom: .2em;
	width: auto;
}

ul.home-noticias {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 75%;
	li{
		padding-bottom: .5em;
		padding-top: .5em;
		padding-right: 1em;
		width: 50%;
		.link-noticia {
			box-sizing: border-box;
			display: block;
			padding: .5em;
		}
		img{
			display: block;
			height: 18em;
			object-fit: cover;
			width: 100%;
		}
	}
	li:first-child{
		display: inline-flex;
		max-height: 19em;
		img{
			display: inline-block;
			object-fit: cover;
			width: 65%;
		}
		.link-noticia{
			display: flex;
			flex-direction: column;
    		justify-content: space-between;
    		padding-bottom: 0;
    		padding-top: 0;
    		h3{
    			display: inline-table;
    			margin:0;
    		}
    		p{
    			margin:0;
    		}
		}
		overflow: hidden;
		width: 100%;
	}
}

.home-post{
	@mixin hover-texto($color){
		&:hover{
			cursor: pointer;
			&, & *:not(.categoria) {
				color: $color !important;
				text-decoration: none;
			}
		}
	}

	a.hover-artesvisuais 	{ @include hover-texto($azul-artesvisuais); }
	a.hover-audiovisual 	{ @include hover-texto($laranja-audiovisual); }
	a.hover-danca 			{ @include hover-texto($verde-danca); }
	a.hover-literatura		{ @include hover-texto($rosa-literatura); }
	a.hover-teatro			{ @include hover-texto($azul-teatro); }
	a.hover-musica			{ @include hover-texto($laranja-musica); }

	.categoria{
		font-weight: bold;
		font-size: 15px;
		text-transform: uppercase;	
		// margin:0 !important;
		display: inline;
		padding: 0 10px;
	}	

	@mixin titulo-post($color){
		background-color: $color;
		color: $cor-fundo;
	}
	.cor-artesvisuais	{ @include titulo-post($azul-artesvisuais);}
	.cor-audiovisual	{ @include titulo-post($laranja-audiovisual);}
	.cor-danca			{ @include titulo-post($verde-danca);}
	.cor-literatura		{ @include titulo-post($rosa-literatura);}
	.cor-teatro			{ @include titulo-post($azul-teatro);}
	.cor-musica			{ @include titulo-post($laranja-musica);}

	.reticencias {
		font-weight: bold;
		font-size: 1.5em;
		line-height: 0;
	}

	.reticencias-artesvisuais	{ color: $azul-artesvisuais; }
	.reticencias-audiovisual	{ color: $laranja-audiovisual; }
	.reticencias-danca			{ color: $verde-danca; }
	.reticencias-literatura		{ color: $rosa-literatura; }
	.reticencias-teatro			{ color: $azul-teatro; }
	.reticencias-musica			{ color: $laranja-musica; }

	.titulo {
		margin-top: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: lighter;
		color: 	$cor-texto;
	}

	.resumo{
		line-height: 1.6;
		color: 	$cor-texto;
	}

}				            
