$altura-imagem: 399px;
.cabecalho-mafua {
    overflow: hidden;
    padding-top: 55px;
    & > img {
        height: 100%;
        width: auto;
    }
    & > svg {
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: $altura-imagem / 2;
        width: 70%;
        z-index: 2;
    }
}
.malungo-post {
    background: $branco-malungo;
    color: $cor-texto;
    font-family: 'Maitree', serif;
    article.page {
        font-size: 18px;
        line-height: 1.5em;
        margin: auto;
        max-width: 1080px;
        min-width: 320px;
    }
    .entry-title {
        text-align: center;
        font-weight: bold;
    }
}