$altura-imagem: 399px;
.cabecalho-mafua {
    overflow: hidden;
    & > img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    & > svg {
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 60px;
        @media (min-width: 1000px){
            top: $altura-imagem / 2;
        }
        @media #{media_query('big')} and (max-width: 1000px){
            top: $altura-imagem / 3;
        }
        width: 70%;
        z-index: 2;
    }
}
.malungo-post {
    background: $branco-malungo;
    color: $cor-texto;
    font-family: 'Maitree', serif!important;
    font-weight: 300;
    .mafua-content{
        font-size: 20px;
        line-height: 1.6em;
        margin: auto;
        min-width: 320px;
        max-width: $page-size;
        a {
            color: $beje;
        }
        a:hover {
            color: $roxo-zumzum;
            cursor: pointer;
            text-decoration: none;
        }
    }
    p{
        margin-bottom: 30px;
        margin-top: 60px;
    }
}