.malunguices-all{
    background: $preto-malungo;
    box-sizing: border-box;
    padding-top: 60px;
    h2 { font-family: 'Maitree', serif!important; }
    min-height: 100vh;
    &,*{
        color: $branco-malungo;
    }

    & > h1{
        margin: auto;
        width: $page-size;
    }

    a,a:hover{
        text-decoration: none;
    }
    ul.grid-malunguices{
        background: $preto-malungo;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        // max-width: $page-size;
        width: 100%;
        li{
            height: 25vh;
            a {
                align-items: center;
                display: flex;
                height: 100%;
                width: 100%;
            }
            @include transition(all ease 400ms);
        }
        li:hover{
            @include transition(all ease 400ms);
            a{
                background: rgba($cinza-indicacao, 0.5);
                opacity:1!important;
            }
            &,*{
                color: $amarelo-malungo!important;
            }
        }
        li:nth-child(3n){
            width: 100%;
        }
        li:nth-child(6n+1), li:nth-child(6n+5){
            background: $branco-malungo;
            &,*{
                color: $preto-malungo;
            }
            width: 30%;
        }
        li:nth-child(6n+2), li:nth-child(6n+4){
            width: 70%;
        }
    }
}

.single-malunguice, .single-noticia, .single-zumzum{
    padding-top: 55px;
    background: $preto-malungo;
}
.mafua-content,
.single-malunguice,
.single-noticia,
.single-zumzum
{
    min-height: calc(100vh + 1em);
    line-height: 1.6em;
    h1, h2, h3, h4, h5, h6{
        font-family: 'Maitree', serif!important;
        font-weight: bold;
    }
    .site-content{
        background: $branco-malungo;
        color: $preto-malungo;
        font-size: 18px;
        font-family: 'Maitree', serif!important;
        font-weight: 300;
        min-height: calc(100vh - 55px);
        padding: 1em;
        h1{
            font-weight: bold;
            font-size: 42px;
            margin-top: 60px;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    .content-malunguice{
        margin: 0 auto;
        width: $page-size;
    }
}