.malunguices-all{
    background: $branco-malungo;
    box-sizing: border-box;
    h2 { font-family: 'Maitree', serif!important; }
    min-height: 100vh;
    &,*{
        color: $branco-malungo;
    }

    & > h1{
        text-align: center;
        margin:0;
        width: 100%;
        img{
            height: 2em;
            margin: auto;
            max-width: 80vw;
            margin-bottom: 65px;
        }
    }

    a,a:hover{
        text-decoration: none;
    }
    ul.grid-malunguices{
        background: $preto-malungo;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        // max-width: $page-size;
        width: 100%;
        $tamanho-li: 60vh;
        li{
            background-size: cover!important;
            background-position: 50% 50%!important;
            height: $tamanho-li;
            position: relative;
            a {
                align-items: flex-end;
                display: flex;
                height: 100%;
                text-align: left;
                padding: 1em;
                width: 100%;
            }
            a:hover{
                cursor: pointer;
            }
            &,*{
                color: $branco-malungo!important;
            }
            @include transition(all ease 400ms);
        }
        @include mais-hover($tamanho-li);
        li:nth-child(4n+1), li:nth-child(4n){
            width: 40%;
        }
        li:nth-child(4n+2), li:nth-child(4n+3){
            width: 60%;
        }
    }
    .uau{
        @include lines-up-down($preto-malungo);
        color: $rosa-malunguice;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}

.single-malunguice, .single-noticia, .single-zumzum{
    background: $preto-malungo;
}
.mafua-content,
.single-malunguice,
.single-noticia,
.single-zumzum
{
    min-height: calc(100vh + 1em);
    line-height: 1.5em;
    h1, h2, h3, h4, h5, h6{
        font-family: 'Maitree', serif!important;
        font-weight: bold;
    }
    .site-content{
        background: $branco-malungo;
        color: $preto-malungo;
        font-size: 18px;
        font-family: 'Maitree', serif!important;
        font-weight: 300;
        min-height: calc(100vh - 55px);
        padding: 1em;
        h1{
            font-weight: bold;
            font-size: 42px;
            margin-top: 60px;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    .content-malunguice{
        margin: 0 auto;
        width: $page-size;
    }
}

.galeria-malunguice {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
    flex-wrap: wrap;
    @include mais-hover(100%);
    li{
        background: rgba(0,0,0,0);
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        padding: .25em;
        position: relative;
        min-width: 90px;
        width: 33.33%;
        @include transition(all ease 400ms);
        &:after{
            box-sizing: border-box;
            color: $branco-malungo;
            display: block;
            font-size: 1.2em;
            font-weight: 400;
            height: 3em;
            margin-top: -2em;
            opacity: 0;
            overflow: hidden;
            padding-left: .5em;
            position: absolute;
            text-align: left;
            width: 100%;
            z-index: 5;
            @include transition(all ease 400ms);
        }
    }
    li:hover{
        background: $preto-malungo;
        cursor: pointer;
        @include transition(all ease 400ms);
        img.item-galeria-malunguice{
            opacity: .3;
        }
        &:after{
            opacity: 1;
            @include transition(all ease 400ms);
        }
    }
    img.item-galeria-malunguice{
        height: auto;
        object-fit: cover;
        width: 100%;
        @include transition(all ease 400ms);
    }
}

.single-malunguice {
    .autor{
        margin:  0 auto;
        max-width: 600px;
    }
}

.modal-malunguice{
    background: rgba($branco-malungo, 0.6);
    .modal-dialog{
        background: $branco-malungo;
        border: solid $beje 1px;
        box-sizing: border-box;
        padding: 2em;
        img{
            text-align: center;
            width: 90%;
        } 
    }
    h3{
        @include titulo-zumzum($rosa-malunguice, $preto-malungo);
        margin-bottom: 2em;
        text-transform: none!important;
    }
    .fecha-modal{
        background: none;
        border: none;
        box-shadow: none;
        color: $beje;
        font-family: Arial, sans-serif;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
    }
}