.pure-menu.pure-menu-fixed {
	z-index:3;
}

.content-wrapper {
	background-color: #F7EFE7;
}

.home-menu{      

}

ul, ol {
   margin: 0; 
   padding: 0px;

}


.nav-tabs a{
	color: white;
}

.nav-tabs a:visited{
	color: white;
	text-decoration:none;
}

.nav>li>a:focus, .nav>li>a:hover{
	color:#303331;
}