.epq-pull-quote-default {
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
    /* margin-top: 1.2%; */
    margin-bottom: 2%;
    padding: .5em 0 0;
    font-size: 18px;

    a{
    	&:hover, &:focus{
    		text-decoration: none !important;
    	}
    }
}