@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin lines-up-down($color: #fff, $size: 1px) {
    border-top: $size solid $color;
    border-bottom: $size solid $color;
    padding-top: .5em;
    padding-bottom: .5em;
}

@mixin link-hover($color-link: $cor-texto, $hover-color: $branco-malungo){
    &:hover, &:hover * {
        background: $hover-color;
        color: $color-link;
        color: $color-link;
        cursor: pointer;
    }
    &:hover *:not(.box-categoria) {
        border-color: $color-link;
    }
    svg, svg * {
        fill: $color-link;
    }
    text-decoration: none;
}

@mixin apply-link-hover($swap: false){
    @if($swap){
         .link-artesvisuais { @include link-hover($branco-malungo, $azul-artesvisuais); }
         .link-audiovisual  { @include link-hover($branco-malungo, $laranja-audiovisual); }
         .link-danca        { @include link-hover($branco-malungo, $verde-danca); }
         .link-literatura   { @include link-hover($branco-malungo, $rosa-literatura); }
         .link-moda         { @include link-hover($branco-malungo, $roxo-moda); }
         .link-musica       { @include link-hover($branco-malungo, $laranja-malunguices); }
         .link-teatro       { @include link-hover($branco-malungo, $azul-teatro); }
         .link-indicacao    { @include link-hover($branco-malungo, $cinza-indicacao); }
    }
    @else{
         .link-artesvisuais { @include link-hover($azul-artesvisuais); }
         .link-audiovisual  { @include link-hover($laranja-audiovisual); }
         .link-danca        { @include link-hover($verde-danca); }
         .link-literatura   { @include link-hover($rosa-literatura); }
         .link-moda         { @include link-hover($roxo-moda); }
         .link-musica       { @include link-hover($laranja-malunguices); }
         .link-teatro       { @include link-hover($azul-teatro); }
         .link-indicacao    { @include link-hover($cinza-indicacao); }
    }
}

@mixin bg-slide($bg-color, $secondary-color: rgba(0,0,0,0)){
    background-image: linear-gradient(to bottom, $secondary-color 50%, $bg-color 50%);
    background-size: 100% 200%;
    height: 1.8em;
    width: 10em;
    @include transition(background-position ease 500ms);
    &:hover {
        background-position: 0 -100%;
        cursor: pointer;
    }
}

@mixin bg-slide-categories(){
     .link-artesvisuais:not(.active) {
        @include bg-slide($azul-artesvisuais, $preto-malungo);
    }
     .link-audiovisual:not(.active) {
        @include bg-slide($laranja-audiovisual, $preto-malungo);
    }
     .link-danca:not(.active) {
        @include bg-slide($verde-danca, $preto-malungo);
    }
     .link-literatura:not(.active) {
        @include bg-slide($rosa-literatura, $preto-malungo);
    }
     .link-moda:not(.active) {
        @include bg-slide($roxo-moda, $preto-malungo);
    }
     .link-musica:not(.active) {
        @include bg-slide($laranja-malunguices, $preto-malungo);
    }
     .link-teatro:not(.active) {
        @include bg-slide($azul-teatro, $preto-malungo);
    }
     .link-indicacao:not(.active) {
        @include bg-slide($cinza-indicacao, $preto-malungo);
    }
     .link-artesvisuais:not(.active) {
        @include bg-slide($azul-artesvisuais, $preto-malungo);
    }
    


    .link-artesvisuais.active {
        @include bg-slide($preto-malungo, $azul-artesvisuais);
    }
    .link-audiovisual.active {
        @include bg-slide($preto-malungo, $laranja-audiovisual);
    }
     .link-danca.active { 
        @include bg-slide($preto-malungo, $verde-danca);
    }
     .link-literatura.active {
        @include bg-slide($preto-malungo, $rosa-literatura);
    }
     .link-moda.active {
        @include bg-slide($preto-malungo, $roxo-moda);
    }
     .link-musica.active {
        @include bg-slide($preto-malungo, $laranja-malunguices);
    }
     .link-teatro.active {
        @include bg-slide($preto-malungo, $azul-teatro);
    }
     .link-indicacao.active {
        @include bg-slide($preto-malungo, $cinza-indicacao);
    }
}

@mixin page(){
    font-family: 'Maitree', serif!important;
    font-weight: 300;
    line-height: 1.5em; 
    margin: 0 auto;
    width: $page-size;
    *, p{
        margin-bottom: 30px;
    }
    h1{
        font-weight: bold;
        font-size: 42px;
        line-height: 1em;
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Maitree', serif!important;
        font-weight: bold;
    }
}

@mixin mais-hover($tamanho-li: 100%, $seletor: 'li'){
    $tamanho-mais: $tamanho-li * 0.3;
    #{$seletor}:before{
            background: url('./img/malunguice-mais.svg') no-repeat;
            background-size: contain;
            background-position: center center;
            content: ' ';
            // display: none;
            height: $tamanho-mais;
            opacity: 0;
            margin-top: calc(#{$tamanho-li} * -0.15);
            margin-left: calc(50% - #{($tamanho-mais/2)});
            position: absolute;
            width: $tamanho-mais;
            @include transition(opacity ease-out 1000ms);
            @include transition(margin-top ease 400ms);
        }
        #{$seletor}:hover{
            &:before{
                @include transition(opacity ease-out 1000ms);
                @include transition(margin-top ease 400ms);
                cursor: pointer;
                display: block;
                margin-top: calc(#{$tamanho-li} * 0.3);
                opacity: 1;
                z-index: 4;
            }
            @include transition(all ease 400ms);
            a{
                background: rgba($cinza-indicacao, 0.5);
                opacity:1!important;
            }
        }
}

@mixin titulo-zumzum($cor-texto: $roxo-zumzum, $cor-linha: $verde-zumzum){
    &{
        color: $cor-texto;
        font-family: 'proxima-nova', sans-serif!important;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &:before{
        border-top: 3px $cor-linha solid;
        content: '';
        display: block;
        height: 1em;
        position: relative;
        top: 2.5em;
        width: 2em;
        z-index: 2;
    }
}
