$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$azul-atividade: #0787FF;
$roxo-sociedade: #593F7E;
$rosa-malunguice: #c5006c;
$roxo-zumzum: #53417b;
$roxo-moda: #bcf819;
$verde-zumzum: #18cc58;
$laranja-malunguices: #FF9B0F;
$laranja-musica: $laranja-malunguices;
$azul-artesvisuais: rgb(64, 193, 251);
$laranja-audiovisual: rgb(261, 54, 45);
$verde-danca: rgb(24, 204, 88);
$rosa-literatura: rgb(198, 0, 108);
$azul-teatro: rgb(0, 131, 252);
$cor-texto: #303331;
$preto-malungo: #303331;
$beje: #ad8d6e;
$cinza-indicacao: #555555;
$branco-malungo: #F7EFE7;
$cor-fundo: #F7EFE7;
$amarelo-malungo: #FB9D00;
