.main-navigation {
	$item-size: 200px;
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	*, *:hover{
		text-decoration: none;
	}
	& > .explica-menu,
	& > .menus {
		display: flex;
		justify-content: space-around;
		margin: auto;
		text-align: center;
		& > li { width: $item-size; }
		width: 90%;
	}
	& > .explica-menu {
		& > li span { @include lines-up-down($cor-texto); }
		background: $branco-malungo;
		box-sizing: border-box;
		color: $cor-texto;
		font-size: 10px;
		font-weight: bold;
		padding: 10px;
		text-transform: uppercase;
	}
	& > .menus {
		font-family: serif;
		text-transform: lowercase; 
		a { color: $laranja-malunguices; }
		.menu > li{
			font-size: 25px;
		}
		.sub-menu > li {
			color: $branco-malungo;
			font-size: 20px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

	
	.main-navigation ul {
		display: block;
	}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
