.main-navigation {
	$item-size: 240px;
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	*, *:hover{
		text-decoration: none;
	}
	& > .menus {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: auto;
		text-align: center;
		& > li { width: $item-size; }
		width: 90%;
	}
	.container-explica{
		background: rgba($branco-malungo, 0.8);
		box-sizing: border-box;
		height: 4em;
		padding-top: .5em;
	}
	.explica {
		@include lines-up-down($cor-texto);
		display: block;
		color: $cor-texto;
		font-family: 'Proxima Nova', sans-serif!important;
		font-size: 10px;
		font-weight: bold;
		padding: 10px;
		text-transform: uppercase;
	}
	& > .menus {
		font-family: 'Maitree', serif;
		font-weight: 200;
		text-transform: lowercase; 
		li,a { color: $branco-malungo; }
		& > li{
			display: inline-block;
			@media #{media_query('big')}{
				width: 25%;
			}
			@media #{media_query('medium')}{
				width: 50%;
			}
			@media #{media_query('small')}{
				width: 100%;
			}
		}


		li:hover, a:hover { color: $amarelo-malungo; }
		li:hover { cursor: default; }
		a:hover { cursor: pointer; }
		.menu > li{
			font-size: 26px;
		}
		.sub-menu > li {
			color: $branco-malungo;
			font-size: 20px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

	
	.main-navigation ul {
		display: block;
	}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
